span{
    margin-right: 5px;
}

.body{
    display:grid;
    justify-content: center;
    margin-left: 75vmin;
}

table{
     width: 175vmin;
}
tbody{
    width: 20vmin;
}

.h2{
    justify-content: center;
}

