<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/student"
          ><i class="bi bi-arrow-left-circle text-center"></i
          ><span class="p-2 text-center">Courses</span></a
        >
      </li>
      <li>
        <a routerLink="/course/">Home</a>
      </li>
      <li>
        <a routerLink="/assingments">Assignments</a>
      </li>
      <hr class="text-white d-none d-sm-block mt-4" />
      <li>
        <a routerLink="/grades">Grades</a>
      </li>
      <li>
        <a routerLink="/discussion-board">Discussion board</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

