<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-student" routerLinkActive="active">
              Add Student
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-students" routerLinkActive="active">
              Students List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-course" routerLinkActive="active">
              Add course
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-courses" routerLinkActive="active">
              Courses List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              <i class="bi bi-box-arrow-left"></i>LogOut 
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</div>