<!-- <p>Username: {{username}}</p>
<div *ngFor = "let course of courses">
    {{course}}
</div> -->

<div class="container-fluid">
  <div class="row">
    <!-- Main content section -->
    <div class="col">
      <div class="card border-dark mb-3" *ngFor="let c of course">
        <a class="btn btn-secondary" routerLink="/course/">
          <div class="card-body">
            <h4 class="card-title">{{c.course_id}}: {{ c.name }}</h4>
            <p class="card-text">{{ c.teacher }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
